<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
			<li><%= link_to 'View Host', host_path(@host_id) %></li>
	</ul>
<% end %>

<% form_for :file_index, @file_indices, :url => get_file_index_host_schedule_file_indices_path(@host_id, @schedule_id) do |f| %>
	f.collection_select(:id, @file_indices, :id, :snapname)
<% end %>