<% content_for 'head' do %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquery.easing' %>
	<%= javascript_include_tag 'jqueryFileTree' %>
	<%= stylesheet_link_tag 'jqueryFileTree' %>
<% end %>

<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
			<li></li>
	</ul>
<% end %>