<% content_for 'head' do %>
	<%= chartr_includes %>
<% end %>

<h2>Node <%= @node.hostname %>: 24-hr Stats</h2>

<div id="cpu_linechart" style="width:600px;height:300px;">
</div>
<button id="cpu_linechart-reset-btn">Reset</button>

<div id="disk_linechart" style="width:600px;height:300px;">
</div>
<button id="disk_linechart-reset-btn">Reset</button>

<%= javascript_tag(@cpu.output_select('cpu_linechart')) %>
<%= javascript_tag(@disk.output_select('disk_linechart')) %>
