<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
	</ul>
<% end %>

<h2>Jobs</h2>
<table id="stdtable" class="sortable" cellspacing="0">
	<tr>
		<th scope="col" class="nobg" id="tblheader">Job ID</th>
		<th scope="col" id="tblheader">Type</th>
		<th scope="col" id="tblheader">Status</th>
		<th scope="col" id="tblheader">Host</th>
		<th scope="col" id="tblheader">Backup Node</th>
		<th scope="col" id="tblheader">Schedule</th>
		<th scope="col" id="tblheader" class="sorttable_nosort">Pause</th>
		<th scope="col" id="tblheader" class="sorttable_nosort">Cancel</th>
	</tr>
	<% if @jobs.empty? %>
		<tr>
    		<td>No Records</td>
    	</tr>
	<% else %>
		<%= render :partial => 'job', :collection => @jobs %>
	<% end %>
</table>
