<% content_for 'sub_menu' do %>
	<ul id="sub_menu">
		<li><%= link_to 'All Hosts', hosts_path %></li>
		<li><%= link_to 'Create Restore Job', new_host_restore_path(@host.id) %></li>
		<li><%= link_to 'List All Restore Jobs' host_restores_path(@host.id) %></li>
	</ul>
<% end %>

<table class='table_form'>
	<tr>
		<td class='labelform'>Name</td>
  	<td><%= @host.name %></td>
	</tr>
</table>