body {
	margin : 10px;
	font-family: "Lucida Grande", Arial, sans-serif;
	padding: 0px;
	background: #fff;
}

a {
	color: #c75f3e;
	text-decoration: none;
}

h2 {
	font-size: 20px;
	padding-left: 5px;
	color: #666;
}
.clear {
	clear : both;
}

#error {
	color: red;
}
#menu {
	font-family: Helvetica, "Lucida Grande", Arial, sans-serif;
	border-bottom : 1px solid #ccc;
	margin : 0;
	padding-bottom : 19px;
	padding-left : 10px;
	width: 900px;
}

.menu-right {
	float: right;
}

#menu ul, #menu li	{
	display : inline;
	list-style-type : none;
	margin : 0;
	padding : 0;
}

	
#menu a:link, #menu a:visited	{
	background : #E8EBF0;
	border : 1px solid #ccc;
	color : #666;
	float : left;
	font-size : small;
	font-weight : normal;
	line-height : 14px;
	margin-right : 8px;
	padding : 2px 10px 2px 10px;
	text-decoration : none;
}

#menu a:link.active, #menu a:visited.active	{
	background : #fff;
	border-bottom : 1px solid #fff;
	color : #000;
}

#menu a:hover	{
	color : #f00;
}

	

body #menu li#current a {
	background : #fff;
	border-bottom : 1px solid #fff;
	color : #000;
}

#menu #sub_menu,
{
	display : none;
}

#menu ul#sub_menu {
	display : inline;
	left : 10px;
	position : absolute;
	top : 30px;
}

#menu ul#sub_menu a {
	background : #fff;
	border : none;
	border-left : 1px solid #ccc;
	color : #999;
	font-size : smaller;
	font-weight : bold;
	line-height : 10px;
	margin-right : 4px;
	padding : 5px 10px 5px 15px;
	text-decoration : none;
}

#menu ul a:hover {
	color : #f00 !important;
}

#contents {
	background: #fff;
	border: 1px solid #ccc;
	border-top: none;
	clear: both;
	margin: 0;
	padding: 15px;
	padding-top: 35px;
	width: 878px;
}

#stdtable {
	padding: 0;
	margin: 0;
}

th {
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(/images/bg_header.jpg) no-repeat;
}

table.sortable th {
	cursor: pointer;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	font-size: 11px;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}

td.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

td.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa;
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #797268;
}
.schedule {
	color: #797268;
}

.schedule #start_date {
	float: left;
	padding-right: 30px;
}

.right {
	border: 1px solid;
	padding-top: 18px;
	height: 145px;
	width: 380px;
	margin-left: 220px;
	padding-bottom: 30px;
}

.labels {
	float: left;
	text-align: right;
	width: 55px;
	padding-right: 10px;
	padding-top: 2px;
}

.labels div {
	height: 35px;
}
.fields .timezone {
	font-size: 12px;
	font-weight: bold;
}
.fields {
	padding-bottom: 10px;
}

.fields div {
	height: 35px;
}


#on #on-right input {
	border: 1px solid;
	margin: 0;
	padding: 3px;
	width: 20px;
	color: #999;
}

.untoggled_button {
	background-color: #CAE8EA;
	
}
.toggled_button {
	background-color: #797268;
	
}

.submit #schedule_submit {
	margin-left: 315px;
	margin-top: 10px;
}
/* Forms */
.table_form {
	border-collapse: collapse; 
	padding: 0;
	margin: 0;
}
.table_form td {
	border: 1px solid #D7E5F2; 
	padding: 2px 2px 2px 4px;
	margin: 0;
}
.table_form label {
	font-size: 11px;
	color: #3670A7;
}
.table_form .labelform {
	background-color: transparent;
	width: 220px;
}
.table_form .login_label {
	background-color: transparent;
	width: 70px;
}
.table_form input {
	background-color: #D7E5F2;
}
.table_form select { 
	background-color: #D7E5F2; 
 	color: #102132; 
}
.table_form textarea { 
	background-color: #D7E5F2; 
 	color: #102132;
	height: 100px;
}
.table_form form { 
	border: 1px solid #ccc; 
 	padding: 5px; 
}

/* Sub Forms */
.sub_form_add {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 10px;
	width: 300px;
}
.sub_form_del_button {
	float: right;
}