div.filetree {
	float: left;
	border: 1px solid;
}

ul.filetree {
	font-size: 11px;
	line-height: 18px;
	padding: 0 0 0 15px;
	margin: 0px;
}

ul.filetree li {
	list-style: none;
	padding: 0 0 0 18px;
	margin: 0 0 0 2px;
	white-space: nowrap;
}

ul.filetree a {
	color: #c75f3e;
	text-decoration: none;
	padding: 0px 2px;
}

ul.filetree img {
	position: absolute;
	padding-top: 1px;
	left: 26px;
	
}

ul.filetree div.current_dir {
	background: url(/images/file_extentions/folder_open.png) left top no-repeat;
	padding-left: 20px;
	font-size: 11px;
	line-height: 18px;
}

/* Core Styles */
.filetree li.directory { background: url(/images/file_extentions/directory.png) left top no-repeat; }
.filetree li.expanded { background: url(/images/file_extentions/folder_open.png) left top no-repeat; }
.filetree li.file { background: url(/images/file_extentions/file.png) left top no-repeat; }
.filetree li.wait { background: none; position: relative;}

/* File Extensions*/
.filetree li.ext_3gp { background: url(/images/file_extentions/film.png) left top no-repeat; }
.filetree li.ext_afp { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_afpa { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_asp { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_aspx { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_avi { background: url(/images/file_extentions/film.png) left top no-repeat; }
.filetree li.ext_bat { background: url(/images/file_extentions/application.png) left top no-repeat; }
.filetree li.ext_bmp { background: url(/images/file_extentions/picture.png) left top no-repeat; }
.filetree li.ext_c { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_cfm { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_cgi { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_com { background: url(/images/file_extentions/application.png) left top no-repeat; }
.filetree li.ext_cpp { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_css { background: url(/images/file_extentions/css.png) left top no-repeat; }
.filetree li.ext_doc { background: url(/images/file_extentions/doc.png) left top no-repeat; }
.filetree li.ext_exe { background: url(/images/file_extentions/application.png) left top no-repeat; }
.filetree li.ext_gif { background: url(/images/file_extentions/picture.png) left top no-repeat; }
.filetree li.ext_fla { background: url(/images/file_extentions/flash.png) left top no-repeat; }
.filetree li.ext_h { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_htm { background: url(/images/file_extentions/html.png) left top no-repeat; }
.filetree li.ext_html { background: url(/images/file_extentions/html.png) left top no-repeat; }
.filetree li.ext_jar { background: url(/images/file_extentions/java.png) left top no-repeat; }
.filetree li.ext_jpg { background: url(/images/file_extentions/picture.png) left top no-repeat; }
.filetree li.ext_jpeg { background: url(/images/file_extentions/picture.png) left top no-repeat; }
.filetree li.ext_js { background: url(/images/file_extentions/script.png) left top no-repeat; }
.filetree li.ext_lasso { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_log { background: url(/images/file_extentions/txt.png) left top no-repeat; }
.filetree li.ext_m4p { background: url(/images/file_extentions/music.png) left top no-repeat; }
.filetree li.ext_mov { background: url(/images/file_extentions/film.png) left top no-repeat; }
.filetree li.ext_mp3 { background: url(/images/file_extentions/music.png) left top no-repeat; }
.filetree li.ext_mp4 { background: url(/images/file_extentions/film.png) left top no-repeat; }
.filetree li.ext_mpg { background: url(/images/file_extentions/film.png) left top no-repeat; }
.filetree li.ext_mpeg { background: url(/images/file_extentions/film.png) left top no-repeat; }
.filetree li.ext_ogg { background: url(/images/file_extentions/music.png) left top no-repeat; }
.filetree li.ext_pcx { background: url(/images/file_extentions/picture.png) left top no-repeat; }
.filetree li.ext_pdf { background: url(/images/file_extentions/pdf.png) left top no-repeat; }
.filetree li.ext_php { background: url(/images/file_extentions/php.png) left top no-repeat; }
.filetree li.ext_png { background: url(/images/file_extentions/picture.png) left top no-repeat; }
.filetree li.ext_ppt { background: url(/images/file_extentions/ppt.png) left top no-repeat; }
.filetree li.ext_psd { background: url(/images/file_extentions/psd.png) left top no-repeat; }
.filetree li.ext_pl { background: url(/images/file_extentions/script.png) left top no-repeat; }
.filetree li.ext_py { background: url(/images/file_extentions/script.png) left top no-repeat; }
.filetree li.ext_rb { background: url(/images/file_extentions/ruby.png) left top no-repeat; }
.filetree li.ext_rbx { background: url(/images/file_extentions/ruby.png) left top no-repeat; }
.filetree li.ext_rhtml { background: url(/images/file_extentions/ruby.png) left top no-repeat; }
.filetree li.ext_rpm { background: url(/images/file_extentions/linux.png) left top no-repeat; }
.filetree li.ext_ruby { background: url(/images/file_extentions/ruby.png) left top no-repeat; }
.filetree li.ext_sh { background: url(/images/file_extentions/script.png) left top no-repeat; }
.filetree li.ext_sql { background: url(/images/file_extentions/db.png) left top no-repeat; }
.filetree li.ext_swf { background: url(/images/file_extentions/flash.png) left top no-repeat; }
.filetree li.ext_tif { background: url(/images/file_extentions/picture.png) left top no-repeat; }
.filetree li.ext_tiff { background: url(/images/file_extentions/picture.png) left top no-repeat; }
.filetree li.ext_txt { background: url(/images/file_extentions/txt.png) left top no-repeat; }
.filetree li.ext_vb { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_wav { background: url(/images/file_extentions/music.png) left top no-repeat; }
.filetree li.ext_wmv { background: url(/images/file_extentions/film.png) left top no-repeat; }
.filetree li.ext_xls { background: url(/images/file_extentions/xls.png) left top no-repeat; }
.filetree li.ext_xml { background: url(/images/file_extentions/code.png) left top no-repeat; }
.filetree li.ext_zip { background: url(/images/file_extentions/zip.png) left top no-repeat; }

.restore_set {
	float: right;
	border: 1px solid;
}

.clear {
	clear: both;
}