<div id='start_date'>
	<%= form.calendar_date_select :start_date, :embedded => true, :month_year => "label" %>
</div>
<div class='right'>
	<div class='labels'>
		<div class='start_label'>start</div>
		<div class='repeat_label'>repeat</div>
		<div class='every_label'>every</div>
	</div>
	<div class='fields'>
		<div id='start_time'>
			<%= select_time(Time.current, :prefix => :schedule, :time_separator => ':') %>
		</div>
		<div id='repeat'>
			<%= select(:schedule, :repeat, repeat_collection, {}, {
				:onchange => remote_function(
					:method => "get",
					:with => "'type='+value",
					:url => get_on_form_schedules_path
				)
			}) %>
		</div>
		<div id='every'>
			<%= form.text_field :every, :size => 2, :maxlength => 2 %>
			
			<span id='on'>
				<span id='on-label'>hour(s)</span>
				<span id='on-right'></span>
			</span>
		</div>
	</div>
</div>
