<% content_for 'head' do %>
	<%= chartr_includes %>
<% end %>

<h2>Schedule <%= @schedule.name %>: 24-hr Stats</h2>

<div id="disk_linechart" style="width:600px;height:300px;">
</div>

<p><button id="disk_linechart-reset-btn">Reset</button></p>

<%= javascript_tag(@disk.output_select('disk_linechart')) %>


